/* Desktops */

html {
    line-height: 4em;
    background-color: #313131;
}

body {
    width: 100%;
    box-sizing: border-box;
    color: #ffffff;
    margin: auto;
    font-family: 'Trajan Pro', Times, serif;
    text-align: center;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 4em;
    padding-top: 1em;
    display: block;
}

.silksong.gif {
    width: 32em;
    height: auto;
    margin: 7px;
}

h2 {
    font-size: 2em;
    padding: 0.3em;
    line-height: 1.5em;
    display: block;
}

p {
    line-height: 1.2em;
    padding: 1em;
    display: block;
}

input[type=text] {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 1em;
    margin: 10px 40px 10px 10px;
}

#Email {
    margin: 0em 0em 0em 4.8em;
}

#Username {
    margin: 0em 0.7em 0em 0em;
}

input[type=submit] {
    background-color: #616161;
    font-family: 'Trajan Pro', Times, serif;
    color: white;
    padding: 1.3em;
    margin: 1.3em;
    border: none;
    border-radius: 14px;
    box-sizing: border-box;
    width: 15%;
}

input[type=submit]:hover {
    background-color: black;
    transition: background-color 0.3s ease-in-out;
}

.submit{
    font-family: 'Trajan Pro', serif;
}

/* Media Queries (Laptops & Tablets maybe) */
@media screen and (min-width: 600px) {  
    html {
        line-height: 2em;
    }
   
    body {
        width: 95%;
        padding: 1.5em;
        background-color: #313131;
        margin: auto;
        font-family: 'Trajan Pro', serif;
        text-align: center;
        text-rendering: optimizeLegibility;
    }

    h1 {
        font-size: 2.3em;
        padding-top: 1em;
        display: block;
    }

    h2 {
        font-size: 1.2em;
        padding: 0.4em;
        display: block;
    }

    p {
        line-height: 1em;
        font-size: 1em;      
    }

    .Email, .Number, .Username, .submit {
        padding-bottom: 1em;
        display: block;
    }

    .submit {
        padding: 0.75em;
    }
}

/* Phones */
@media screen and (min-width: 100px) {
    html {
        line-height: 1.7em;
    }

    body {
        width: 90%;
        padding: 1.2em;
        background-color: #313131;
        margin: auto;
        font-family: 'Trajan Pro', serif;
        text-align: center;
        text-rendering: optimizeLegibility;
    }

    h1 {
        font-size: 1.66667em;
        padding-top: 1em;
        display: block;
    }

    h2 {
        font-size: 1em;
        padding: 0.4em;
        display: block;
    }

    p {
        line-height: 1em;
        font-size: 0.7em;        
    }

    .Email, .Number, .Username, .submit {
        padding-bottom: 0.7em;
        width: 90%;
        display: block;
    }

    .submit {
        padding: 0.6em;
    }
}
